# dependencies
node_modules/

# builds
dist/
.next/
out/

# turbo
.turbo/

# environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
